body {
  background-color: rgb(26, 28, 34);
  color: #fff;
  padding: 0;
  margin: 0;
}

#angle-box {
  height: 10%;
  width: fit-content;
  background-color: #009789;
  border-radius: 15px;
  padding: 5px;
  margin: 19px 0px 0px 71%;
}

main {
  display: grid;
  place-items: center;
  /* min-height: 100vh; */
  height: 90%;
  position: relative;
}
#eyes,
#eyes img {
  position: absolute;
}
